<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/recipes">Recipes</a></li>
            <li><a href="/ingredients">Ingredients</a></li>
            <li><a href="/mealPlans">Meal Plans</a></li>
            <li><a href="/inventory">Inventory</a></li>
            <li><a href="/expenses">Expenses</a></li>
            <li><a href="/notifications">Notifications</a></li>
        </ul>
    </nav>
</header>