<div class="container">
  <div class="header-row">
    <div class="recipe-title-row">
      <button class="favorite-button">Favorite</button>
    </div>
  </div>
  <div class="recipe-details">
    <h1 class="recipe-title">{{ recipe.title }}</h1>
    <img [src]="recipe.image_url" alt="{{ recipe.title }}" class="recipe-image" />
    <p class="recipe-description">{{ recipe.description }}</p>
    <div class="recipe-info">
      <p><strong>Cuisine:</strong> {{ recipe.cuisine }}</p>
      <p><strong>Preparation Time:</strong> {{ recipe.preparation_time }} minutes</p>
      <p><strong>Rating:</strong> {{ recipe.rating }}</p>
    </div>
    <h2>Instructions</h2>
    <p>{{ recipe.instructions }}</p>
    <a (click)="goBack()" class="link-back">Back to Recipes</a>

  </div>
</div>
