<div class="navbar-container">
  <div class="navbar">
    <span class="app-name">Smart Meal Planner</span>
    <button class="menu-toggle" (click)="toggleMenu()">
      <span class="menu-icon">☰</span>
    </button>
  </div>
  <div [class.active]="isMenuOpen" class="menu-container">
    <ul class="menu">
      <li><a routerLink="/recipes" (click)="closeMenu()">Explore Recipes</a></li>
      <li><a routerLink="/inventory" (click)="closeMenu()">Inventory</a></li>
    </ul>
    <ul class="menu">
      <li><a routerLink="/favorites" (click)="closeMenu()">Favorite Recipes</a></li>
      <li><a routerLink="/profiles" (click)="closeMenu()">Profile</a></li>
      <li><a (click)="logout()">Logout</a></li>
    </ul>
  </div>
</div>
